:root {
--light-blue: #095bd6a9;
--black: #000000;
--blue: #2471e462;
--red: #f31414b9;
--pink: #ffc0cb;
--grey: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: var(--grey);
    background-color:var(--light-blue) ;
    
}

header {
    background-color:#ffc0cb ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header div {
    box-shadow: 3px 3px 5px rgba(rgb(160, 94, 94), #f31414b9, #266acfbd, alpha);
}

header h1{
    color: var(--light-blue);
    font-size: 40px;
    padding: 0px;
}

A {
    text-decoration: none;
    color: var(--light-blue);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li a {
    padding: 15px;
    font-size: 30px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

nav ul li a:hover {
    background: var(--blue);
    color: var(--red);
    border-radius: 20px;
}

.hero {
    background-image:url(../images/ws_Minimalistic_Clouds_2560x1600.png);
    height: 400px;
    background: size 15px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hero img {
    height: 325px;
}

.hero .text {
    font-size: 80px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: var(--black);
}

.title {
    border-right: 4px solid var(--black);
    min-height: 100%;
    text-align: right;
    padding-right: 50px;
    min-width: 20%;
    max-width: 20%;
    color: var(--black);
}

.title h2 {
    font-size: 33px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 20px;
}

.about-me p {
    text-align:;
    font-size: 40px;
    padding: 40px;
    width: 100%;
    color: #000000;
}

.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-blue);
}

.my-work h2 {
    color: var(--black);
}

.projects-grid-wrapper {
   display: flex;
   justify-content: center;
   height: 500px;
   width: 90%;
   
}

.projects-grid {
    display: grid;
    gap: 10px;
    width: 700px;
}

.project {
    border: solid;
    color: var(--black);
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    opacity: 0.7;
}

.project:hover {
    opacity: 1.0;
}

.horiseon-project {
    background-image: url("../images/01-html-css-git-homework-demo.png");
    grid-column:1/3;
    grid-row:span 3;
}

.jack-portfolio {
    background-image: url("../images/screencapture-127-0-0-1-5500-index-html-2023-01-05-22_33_18.png");
    background-position: 15% 12%;
}

.project-3 {
    background-image: url("");
    background-position: 50% 15%;
}

.project-4 {
    background-image: url("");
}

.project-5 {
    background-image: url("");
}

.project-label {
    background-color: var(--black);
    background-color: lightgray;;
    color: var(--black);
    padding: 7px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

#contact-list {
    width: 80%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}

footer ul li {
    padding-bottom: 15px;
    font-weight: bold;
}

footer ul li a {
    text-decoration: none;
    color: var(--black);
    padding: 10px;
    font-weight: bold;
}

footer ul li a:hover {
    background: var(--blue);
    color: var(--red);
    border-radius: 15px;
}
/* contact me section styling end */

/* MEDIA QUERY FOR TABLET SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
    .hero .text {
        font-size: 28px;
        padding-right: 20px;
    }
    
    .hero .text #text {
        font-size: 35px;
    }

    .title h2 {
        font-size: 35px;
    }

    .about-me p {
        font-size: 16px;
        /*padding: 0 15px;*/
        line-height: 1.6;
    }
}

/* MEDIA QUERY FOR MOBILE PHONE SCREENS AND SMALLER */
@media screen and (max-width: 320px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    nav ul {
        min-height: 80px;
    }

    .hero {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
    }

    .title {
        border-bottom: 5px solid var(--black);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
        padding: 15px;
    }

    .my-work {
        flex-direction: column;
        padding: 30px 0;
    }

    .projects-grid-wrapper {
        width: 100%;
        padding: 10px;
    }
    
    .projects-grid {
        width: 80%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
    
}
